.container section{
margin-top: 100px;
}

body {
    /* padding: 100px 0; */
    background: url(../img/blue.jpg) center center no-repeat;
    background-size: cover;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg-info{
    opacity: 75%;
}
.btn {
    padding : 10px 40px ;
    }
    .modal{
        color: black;
    }